<div class="panel panel-primary">
  <div class="panel-heading">
      <h3 class="panel-header-pad">Employee List</h3>
  </div>
<div class="panel-body">
<div class="table-responsive">
<table datatable class="table table-bordered" id="employee_table" *ngIf="this.temp_var">
  <thead>
    <tr>
      <th>employee_id</th>
      <th>first_name</th>
      <th>last_name</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rec of this.data">
      <td>{{rec.employee_id}}</td>
      <td>{{rec.first_name}}</td>
      <td>{{rec.last_name}}</td>
      <td>{{rec.email}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>

