<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-header-pad inline-block" >Employee Form</h3>
	</div>

	<div class="row show-hide-message">
	  <div [ngClass]="messageClass">
	    {{ message }}
	  </div>
	</div>

	<div class="panel-body">
		<form (submit)="onEmployeeSubmit()"  id="employee_form">

		<div class="row">
			<div class="col-sm-12">
				<fieldset>
					<legend>
						<div class="pull-right">Personal Details:</div>
					</legend>

					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">First Name:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input name="first_name" [(ngModel)]="first_name" placeholder="First Name" class="form-control" type="text" required="required">
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="" >Last Name:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input name="last_name" [(ngModel)]="last_name" placeholder="Last Name" class="form-control" type="text" required="required">
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">E-Mail:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
									<input name="email" [(ngModel)]="email" placeholder="E-Mail" class="form-control" type="email" required="required">
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">Phone:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
									<input  [(ngModel)]="mob" name="mob" placeholder="1234567890" class="form-control" type="text" required="required">
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">DOB:</label>
								<div class='input-group date datePicker'>
									<input type='text' name="dob" [(ngModel)]="dob" class="form-control" required="required">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">Gender:</label>
								<div class="col-md-8 pull-right">
									<div class="form-check form-check-inline col-md-4">
										<label class="form-check-label">
											<input class="form-check-input" type="radio" name="gender" [(ngModel)]="gender" value="M" checked> Male
										</label>
									</div>
									<div class="form-check form-check-inline col-md-4">
										<label class="form-check-label">
											<input class="form-check-input" type="radio" name="gender" [(ngModel)]="gender" value="F"> Female
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<hr class="hr-style" />
					</div>

					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">Employee ID:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<input name="employee_id" [(ngModel)]="employee_id" placeholder="Employee ID" class="form-control" type="text" required="required">
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">Joining Date:</label>
								<div class='input-group date datePicker'>
									<input type='text' name = "joining_date" [(ngModel)] ="joining_date" class="form-control" required="required">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">Skill Technology:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
									<input [(ngModel)]="skill" name="skill" placeholder="Skill Technology" class="form-control" type="text" required="required">
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="form-group">
								<label class="">Designation:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
									<input  [(ngModel)]="designation" name="designation" placeholder="Designation" class="form-control" type="text" required="required">
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<hr class="hr-style" />
					</div>

					<div class="col-sm-12">
						<div class="col-sm-12">
							<div class="form-group">
								<label class="">Note and Interview Comments:</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
									<textarea class="form-control" name="interview_comments" [(ngModel)]="interview_comments" placeholder="Note and Interview Comments" required="required"></textarea>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
					<fieldset>
						<legend>
							<div id="image-preview2" class='inline-block'></div>
							<div class="pull-right">Address Details:</div>
						</legend>

						<div class="col-sm-12 text-left">
							<h4>Current Address:</h4>
						</div>

						<div class="col-sm-12">
							<div class="col-sm-4">
								<div class="form-group">
									<label class="">Address:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<textarea class="form-control" name="current_street" [(ngModel)]="current_street" placeholder="Address Detail" required="required"></textarea>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label class="">City:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<input name="city" placeholder="City" name="current_city" [(ngModel)]="current_city" class="form-control" type="text">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label class="">State:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
										<select name="current_state" [(ngModel)]="current_state" class="form-control selectpicker" >
											<option value="">Please select your state</option>
											<option>Alabama</option>
											<option>Alaska</option>
											<option >Arizona</option>
											<option >Arkansas</option>
											<option >California</option>
											<option >Colorado</option>
											<option >Wyoming</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-4">
								<div class="form-group">
									<label class="">Zip Code:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<input name="current_zip" [(ngModel)]= "current_zip" placeholder="Zip Code" class="form-control" type="text" required="required">
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12">
							<hr class="hr-style" />
						</div>

						<div class="col-sm-12 text-left">
							<h4>Permanent Address:</h4>
						</div>

						<div class="col-sm-12">
							<div class="col-sm-4">
								<div class="form-group">
									<label class="">Address:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<textarea class="form-control" [(ngModel)]= "permanent_street" name="permanent_address" placeholder="Address Detail" required="required"></textarea>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label class="">City:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<input name="permanent_city" [(ngModel)]="permanent_city" placeholder="City" class="form-control" type="text">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label class="">State:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
										<select name="permanent_state" [(ngModel)]="permanent_state" class="form-control selectpicker" >
											<option value="">Please select your state</option>
											<option>Alabama</option>
											<option>Alaska</option>
											<option >Arizona</option>
											<option >Arkansas</option>
											<option >California</option>
											<option >Colorado</option>
											<option >Wyoming</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="col-sm-4">
								<div class="form-group">
									<label class="">Zip Code:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
										<input name="permanent_zip" [(ngModel)]="permanent_zip" placeholder="Zip Code" class="form-control" type="text" required="required">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12 text-center">
							<input type="submit" class="btn btn-primary" value="Submit" />

			</div>
		</div>
		</form>
	</div>
</div>
